# IDE编辑器项目配置文件
.idea
nbproject
.buildpath
.project
.settings
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.svn

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# 项目文件
vendor
composer.lock
app/runtimes/
